@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);


h1{
	color: #3b3838;
    font-family: 'Playfair Display', serif;
}

body{
	background-color: #ccc4c4;
	text-align: center;
}

#slogan{
	font-style: italic;
	font-family: 'Playfair Display', serif;
}
#nav{
	list-style: none
	display:inline;
}

.wrapper {
	margin: 0px auto;
}

#mainimage {
	width:75%;
	hieght:auto;
}

#ul {
	font-family: 'Quattrocento Sans', sans-serif;
	list-style: none;
	font-size: 20px;
	}

p {
	font-family: 'Quattrocento Sans', sans-serif;
	width: 75%;
	font-size: 20px;
	margin: auto;
}

a{
	font-family: 'Quattrocento Sans', sans-serif;
	color: #3b3838;
}

hr{
	color:#3b3838;
}

#two_column {
	padding:20px;
}

#left {
	padding: 20px;
	float: left;
	width: 45%;
}

#right {
	padding: 20px;
	float: right;
	width: 45%;
	list-style: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}