@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);


h1{
	color: #3b3838;
    font-family: 'Playfair Display', serif;
}

body{
	background-color: #ccc4c4;
	text-align: center;
	font-size: 16px;
}

nav{
	list-style: none;
	display:inline;
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
	width:100%;
}

#mainnav{
	display:inline;
}

#slogan{
	font-style: italic;
	font-family: 'Playfair Display', serif;
	padding-bottom: 1.5em;
}


.wrapper {
	margin: 0px auto;
}

#mainimage {
	width:75%;
	height:auto;
}


p {
	font-family: 'Quattrocento Sans', sans-serif;
	width: 75%;
	font-size: 1.25em;
	margin: auto;
}

a{
	font-family: 'Quattrocento Sans', sans-serif;
	color: #3b3838;
}

hr{
	color:#3b3838;
}

ul {
	list-style: none;
	width: 100%;
}

li {
	display:inline;
	margin:5%;
}

ul .services {
	list-style: none;
	display:block;
	width:100%;
}

#two_column {
	padding:20px;
}

#left {
	padding: 20px;
	float: left;
	width: 45%;
}

#right {
	padding: 20px;
	float: right;
	width: 45%;
	font-family: 'Quattrocento Sans', sans-serif;
	list-style: none;
	font-size: 1.25em;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}