@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);


h1{
	color: #3b3838;
    font-family: 'Playfair Display', serif;
}

body{
	background-color: #ccc4c4;
	text-align: center;
	font-size: 16px;
}

nav{
	list-style: none;
	display:inline;
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
}

#mainnav{
	display:inline;
}

#slogan{
	font-style: italic;
	font-family: 'Playfair Display', serif;
	padding-bottom: 1.5em;
}


.wrapper {
	margin: 0px auto;
}

#mainimage {
	width:75%;
	height:auto;
}

.services li{
	display:block;
	list-style:none;
}


p {
	font-family: 'Quattrocento Sans', sans-serif;
	width: 75%;
	font-size: 1.25em;
	margin: auto;
}

a{
	font-family: 'Quattrocento Sans', sans-serif;
	color: #3b3838;
}

hr{
	color:#3b3838;
}

ul {
	list-style: none;
	padding: 0px;
}

li {
	display:inline;
	margin:5%;
}


#two_column {
	padding:20px;
}

#left {
	padding: 20px;
	float: left;
	width: 45%;
}

#right {
	float: right;
	width: 45%;
	font-family: 'Quattrocento Sans', sans-serif;
	list-style: none;
	font-size: 1.25em;
	display:block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

@media only screen and (max-width:855px) {
#right {
	padding: 20px;
	float: none;
	width: 100%;
	font-family: 'Quattrocento Sans', sans-serif;
	list-style: none;
	font-size: 1.25em;
	display:block;
		}
#left {
	padding: 20px;
	float: none;
	width: 100%;
	font-family: 'Quattrocento Sans', sans-serif;
	list-style: none;
	font-size: 1.25em;
	display:block;
	}
}

@media only screen and (max-width:568px) {
#left {
	padding: 0px;
	float: none;
	width: 100%;
	font-family: 'Quattrocento Sans', sans-serif;
	list-style: none;
	font-size: 1.25em;
	display:block;
	}
}

nav { 
	list-style: none;
	display:block;
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
}

.mainnav{
	display:block;
}

li {
	display:block;
	margin:5%;
	border:1px solid black;
}

.services li{
	display:block;
	list-style:none;
	border:none;
}
}




