@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Cardo);


h1{
	color: #3b3838;
    font-family: 'Quicksand', sans-serif;
}

body{
	background-color: #ccc4c4;
	text-align: center;
	font-size: 16px;
}


nav{
	list-style: none;
	display:inline;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
}


#mainnav{
	display:inline;
}

#slogan{
	font-style: italic;
	font-family: 'Quicksand', sans-serif;
	padding-bottom: 1.5em;
}


.wrapper {
	margin: 0px auto;
}

#mainimage {
	width:75%;
	height:auto;
}

.services li{
	display:block;
	list-style:none;
}


p {
	font-family: 'Cardo', sans-serif;
	width: 100%;
	font-size: 1.25em;
	margin: auto;
}

a{
	font-family: 'Cardo', sans-serif;
	color: #3b3838;
}

hr{
	color:#3b3838;
}

ul {
	list-style: none;
	padding: 0px;
}

li {
	display:inline;
	margin:5%;
}

#boxed {
	border:2px solid black;
	text-transform: uppercase;
	width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

#navitem:hover {text-decoration: underline;}


#two_column {
	padding:20px;
	width:80%;
	margin: 0 10%;
}

#left {
	padding: 20px;
	float: left;
	width: 45%;
}

#right {
	float: right;
	width: 45%;
	font-family: 'Cardo', serif;
	list-style: none;
	font-size: 1.25em;
	display:block;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

footer {
	font-family: 'cardio', serif;
}


@media only screen and (max-width:855px) {
#two_column { 
	width:100%;
	margin: 0;
	padding-left: 0px;
	padding-right: 0px;
}

#right {
	padding: 20px 0px;
	float: none;
	width: 80%;
    margin-right: 10%;
    margin-left: 10%;
	font-family: 'Cardo', serif;
	list-style: none;
	font-size: 1.25em;
	display:block;
		}

#left {
	padding: 20px 0px;
	float: none;
	width: 80%;
    margin-right: 10%;
    margin-left: 10%;
	font-family: 'Cardo', serif;
	list-style: none;
	font-size: 1.25em;
	display:block;
	}

	p {
		width:95%;
		margin-left: 0px;
		margin-right: 0px;
		font-size:1em;

	}
}

@media only screen and (max-width:581px) {
#two_column { 
	width:100%;
	margin: 0;
	padding-left: 0px;
	padding-right: 0px;
}

#left {
	padding: 0px;
	float: none
	margin:0;
	width: 80%;
	font-family: 'Cardo', serif;
	list-style: none;
	font-size: 1.25em;
	display:block;
	}

nav { 
	list-style: none;
	display:block;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.5em;
	margin:0px 35%;
}

#mainnav{
	display:block;
}

li {
	display:block;
	margin:5%;
	border:1px solid black;
	width:100%;
}

p {
	width:100%;
}

#navitem:hover {text-decoration: none;}


.services li{
	display:block;
	list-style:none;
	border:none;
	margin: auto 0px;
}
}




