@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body{
	background-color: #ccc4c4;
}
h1{
	color: #3b3838;
    font-family: 'Playfair Display', serif;
}

#slogan{
	font-style: italic;
}
p{
	font-family:"georgia",serif;
}
a{
	font-family:"georgia",serif;
	color: #3b3838;
}
hr{
	color:#3b3838;
}